<div class="container mt-3 bg-white p-3">
  <h2>Add a new restaurant:</h2>
  <div class="display-flex">
    <%= render 'form', restaurant: @restaurant %>
  </div>
  <%= link_to 'Back to list', restaurants_path%>
</div>
